<app-component1></app-component1>
<app-component2></app-component2>
<p appHighlight [highlightColor]="color">This is a para</p>
<app-javascript></app-javascript>
<app-angular></app-angular>

<div class="center">
  <h1>Parent Component [App]</h1>
  <app-student [acceptMsgChild]="fromParentMsg" (myOutPut)="getDataFromChild($event)"></app-student>
  <p class="warning" *ngIf="messageToUser !==''">{{messageToUser}}</p>
  <div class="">
    <form>
      <input type="text" [(ngModel)]="this.task" [value]="this.task" name="taskName">
      <button class="pointer margin10" (click)="addTask(this.task)">Add task</button>
    </form>
    <div class="marPad5" *ngFor="let item of tasks; index as i;">
      <a>{{item}}</a> &nbsp; <button class="pointer" (click)="removeTask(i)">&#x2421;</button>
    </div>
  </div>
  <div>
    <h1 id="drink">
      {{drinkName}}
    </h1>
  </div>
  <div class="counterBody">
    <a>Counter: </a> <span class="boldFont">{{counter}}</span>
    <br>
    <button (click)="increaseCounter()">Increase</button>
    <button (click)="decreaseCounter()">Decrease</button>
    <button (click)="resetCounter()">Reset</button>
  </div>

  <div class="buttonTextShow">
    <button (click)="toggleText($event.target.innerText)" id="btnText">Show Text</button>
    <p *ngIf="displayMsg" id="textDisplay">Hello World!</p>
  </div>

  <div class="stock">
    <input type="text" placeholder="Company" name="company" [(ngModel)]="stockDetails['company']" required>
    <input type="text" placeholder="Code" name="code" [(ngModel)]="stockDetails['code']" required>
    <input type="number" placeholder="Price" name="price" [(ngModel)]="stockDetails['price']" required><br>
    <div>
      <input type="radio" id="sensex" name="indexName" [(ngModel)]="stockDetails['indexName']" value="Sensex">
      <label for="indexName">Sensex</label><br>
      <input type="radio" id="NASDAQ" name="indexName" [(ngModel)]="stockDetails['indexName']" value="NASDAQ">
      <label for="indexName">NASDAQ</label><br>
      <input type="radio" id="nifty" name="indexName" [(ngModel)]="stockDetails['indexName']" value="Nifty">
      <label for="indexName">Nifty</label>
    </div>
    <br>

    <input type="checkbox" placeholder="Price" name="confirm" [(ngModel)]="stockDetails['confirm']" required><label for="price"> I confirm the details provided.</label>
    <br>
    <br>
    <!-- <button>Submit</button> -->
    <p>Company Name: {{stockDetails['company']}}</p>
    <p>Company Code: {{stockDetails['code']}}</p>
    <p>Company Price: {{stockDetails['price']}}</p>
    <p>Company Index: {{stockDetails['indexName']}}</p>
    <p>Confirm: {{stockDetails['confirm']}}</p>
  </div>

  <div class="scoreBoard">
    <p>Using [ngStyle]</p>
    <p *ngFor="let item of scores; index as i">
      <span [ngStyle]="getStyle({item})" >{{scores[i]}}</span>
    </p>
  </div>

  <div class="scoreBoard">
    <p>Using [ngClass]</p>
    <p *ngFor="let item of scores;">
      <span [ngClass]="getClass({item})">{{item}}</span>
    </p>
  </div>
  
</div>